/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --padding: 1.5rem;
  --light-blue: #d4e8ff;
  --text-gray: #424242;
  --gray: #b6b6b6;
  --red: #ff4747;
  --orange: #ffac33;
}

.heading {
  font-family: "Trocchi", serif;
}

.heading span {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

body {
  background-image: linear-gradient(
      hsla(227, 100%, 90%, 0.3),
      hsla(227, 100%, 90%, 0.3)
    ),
    url("./dot-grid.png");
  overflow-x: hidden;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.active {
  font-weight: bold;
}

.wrapper {
  padding: 1.25rem var(--padding);
  min-height: 80vh;
}

.title {
  margin-top: 1rem;
  font-weight: 400;
}

@media (min-width: 700px) {
  :root {
    --padding: 4.5rem;
  }

  .results {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1100px) {
  :root {
    --padding: 8rem;
  }
}

@media (min-width: 1300px) {
  .results {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
  }
} */
@tailwind base;
@tailwind components;
@tailwind utilities;
